<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
    <!--配置环境-->
    <environments default="development">
<!--      2开发环境id名为dep-->
        <environment id="development">
         <!--   3配置JDBC自带的事务-->
            <transactionManager type="JDBC"></transactionManager>
           <!-- 数据源POOLEDmybatise自带的数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/paud"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="cn/mapper/UserMapper.xml"></mapper>
    </mappers>
</configuration>
